<form [formGroup]="form" ngClass.gt-xs="large-form">
  <div class="field-container" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-around">
    <mat-form-field appearance="outline">
      <mat-label>Nom de la salle</mat-label>
      <input type="text" matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tarif heure</mat-label>
      <input type="number" matInput formControlName="price" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Taille(m2)</mat-label>
      <input type="number" matInput formControlName="size" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre maximum de personnes</mat-label>
      <input type="number" matInput formControlName="maxCapacity" required>
    </mat-form-field>
    <mat-form-field *ngIf="roomTypes$" appearance="outline">
      <mat-label>Type de salle</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of roomTypes$ | async" [value]="type.name" required>
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="equipments$" appearance="outline">
      <mat-label>Equipements</mat-label>
      <mat-select>
        <mat-option *ngFor="let equipment of equipments$ | async" [value]="equipment.name"
                    (onSelectionChange)="newEquipment($event)">
          {{equipment.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="equipments.value.length" class="equipement-container">Equipements:
      <span *ngFor="let e of equipments.value; let i = index;"
            class="equipement"
            title="supprimer"
            (click)="deleteEquipment(i)">{{e}}</span>
    </p>
  </div>
  <div class="days-container">
    <p class="days-title">Disponibilité:</p>
    <div gdColumns="1fr 1fr 1fr" gdGap="10px">
      <mat-checkbox
        (change)="checkboxChange($event, i)"
        *ngFor="let day of frenchDays; let i = index;" [value]="day">
        {{day | titlecase}}
      </mat-checkbox>
    </div>
  </div>


  <button color="primary" mat-raised-button matStepperNext [disabled]="form.invalid">
    Suivant
  </button>

</form>
