@import "../../variables";

.form {
  .question {
    margin-top: 1.3rem;
    color: gray;
    font-style: italic;
    font-size: 15px;
  }

  .register {
    font-style: normal;
    display: block;
    color: crimson;
    cursor: pointer;
    text-decoration: none;
  }
}
