.container {
  max-width:70rem;
  margin: 0 auto;
  ::ng-deep.mat-tab-body-wrapper {
    margin-top: 20px;
    min-height: 50vh;
  }

}
.mat-tab-nav-bar {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  background-color: #FAFAFA;
  padding-top: .5rem;
}
.mat-tab-link {
  color: black;
}
