.container {
  max-width: 970px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 50vh;
  ::ng-deep.mat-tab-body-wrapper {
    margin-top: 20px;
    min-height: 50vh;
  }

}
.mat-tab-nav-bar {
  margin-top: -1rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  background-color: #FAFAFA;
}
.mat-tab-link {
  color: black;
}
