<div class="container" ngClass.xs="xs">

  <!--  Formulaire vertical  -->
  <mat-vertical-stepper *ngIf="mobile" class="mat-elevation-z8" linear>

    <!--  Photos  -->
    <mat-step [stepControl]="photoForm">
      <ng-template matStepLabel>Photos</ng-template>
      <app-photo-form></app-photo-form>
    </mat-step>

    <!--  Infos  -->
    <mat-step [stepControl]="roomInfosForm">
      <ng-template matStepLabel>Informations</ng-template>
      <app-room-infos-form></app-room-infos-form>
    </mat-step>

    <!--  Adresse  -->
    <mat-step [stepControl]="addressForm">
      <ng-template matStepLabel>Adresse</ng-template>
      <app-address-form></app-address-form>
    </mat-step>

    <!--  Enregistrement  -->
    <mat-step>
      <ng-template matStepLabel>Enregistrement</ng-template>
      <div class="step-buttons">
        <button matStepperPrevious mat-raised-button class="btn-back">Revenir</button>
        <button mat-raised-button (click)="submit()" class="btn-next" color="primary">Valider</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

  <!--  Formulaire horizontal -->
  <mat-horizontal-stepper *ngIf="!mobile" class="mat-elevation-z8" linear>

    <!--  Photos  -->
    <mat-step [stepControl]="photoForm">
      <ng-template matStepLabel>Photos</ng-template>
      <app-photo-form></app-photo-form>
    </mat-step>

    <!--  Informations  -->
    <mat-step [stepControl]="roomInfosForm">
      <ng-template matStepLabel>Informations</ng-template>
      <app-room-infos-form></app-room-infos-form>
    </mat-step>

    <!--  Adresse  -->
    <mat-step [stepControl]="addressForm">
      <ng-template matStepLabel>Adresse</ng-template>
      <app-address-form></app-address-form>
    </mat-step>

    <!--  Enregistrement  -->
    <mat-step>
      <ng-template matStepLabel>Enregistrement</ng-template>
      <div class="step-buttons">
        <button matStepperPrevious mat-raised-button class="btn-back">Revenir</button>
        <button mat-raised-button (click)="submit()" class="btn-next" color="primary">Valider</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

