<div class="title">Définir les disponibilités</div>

<div class="dialog-container" ngClass.xs="xs">
  <!--  Checkbox tous les jours  -->
  <mat-checkbox (change)="allDaysSelected($event)" #allDays [checked]="formArray.value.length === 7">Tout les jours
  </mat-checkbox>

  <!--  Checkbox pour chaque jour  -->
  <mat-checkbox *ngFor="let day of days" [value]="day" (change)="daySelected($event)" [disabled]="allDays.checked"
                [checked]="isChecked(day)">{{day | titlecase}}</mat-checkbox>

  <!--  Valider  -->
  <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="!formArray.value.length" class="span-all">
    Valider
  </button>
</div>
