@import "src/variables";
@import "src/mixins";
@import "src/layout";
.card {
  background-color: $background-secondary;
  border-radius: 3px;
  max-width: 29rem;
  @include simple-grid(1, $row-gap: 0);
  grid-template-rows:  minmax(210px, 270px);
  .card-img {
    position: relative;
    padding-bottom: .4em;
    background-color: $primary-color;
    @extend %border-top-radius;
  }
  img {
    @extend %border-top-radius;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .rating {
    position: absolute;
    bottom: 0; right: 0;
    background-color: $primary-color;
    border-right: 1px $primary-color solid;
    border-top-left-radius: 1em;
    padding: .3em .5em 0 .5em;
    @include icon(1em, 1em, $secondary-color)
  }
  .card-infos {
    position: relative;
    line-height: 1.5;
    padding: 1rem 2rem 3rem 1rem;
    @include icon(1em, .8em, $primary-color);
    .card-title {
      text-align: center;
      margin: 0 0 .5rem 0;
      font-weight: 200;
    }
    .address, .capacity, .price {
      color: grey;
      font-size: 1rem;
      font-weight: 200;
    }
    .price {
      margin-bottom: 2rem;
    }
    .btn-favorite {
      margin-right: auto;
      font-size: 3em;
      .mat-icon {
        color: lightgrey;
      }
      &:hover {
        mat-icon {
          color: red;
        }
      }
      &.favorite {
        .mat-icon {
          color: red;
        }
      }
    }
  }
}
.btn-container {
  position: absolute;
  left: 1rem; right: 1rem; bottom: 1rem;
  font-size: .8em;
  @include flexbox($justify: space-between, $align: center);
}
.btn-more {
  width: 40%;
  font-size: .9em;
  height: 3.2em;
}


.btn-more {
  margin-left: auto;
}
