@import "../../variables";
nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: $navbar-height;
  left: 0;
  top: 0;
  background-color: $primary-color;
  color: $background-secondary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
  display: flex;
  padding: 1rem;
  align-items: center;

  .menu {
    width: 100%;
  }

  .user-menu {
    margin-left: auto;
    .mat-icon {
      font-size: 25px;
      color: #FAFAFA;
    }
  }
}

.btn-menu {
  .mat-icon {
    width: 100%;
    font-size: 3em;
  }
}
