@import "../../variables";
@import "../../mixins";
nav {
  z-index: 10;
  position: fixed;
  height: $navbar-height;
  left: 0; top: 0; right: 0;
  background-color: white;
  //color: $background-secondary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
  align-items: center;
  justify-items: center;
  &.sm {
    grid-template-columns: 2rem 1fr;
  }
}


.mat-icon-button, .burger-btn {
    color: $primary-color;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    .mat-icon {
      height: 2.5rem;
      width: 2.5rem;
      line-height: 2.5rem;
      font-size: 2.5rem;
    }
}

.logo {
  font-family: 'Frijole', cursive;
  cursor: pointer;
  color: $primary-color;
  font-size: 1.5rem;
  &:focus {
    outline: none;
  }
}

.room-btn {
  margin-left: 1rem;
}
.account-buttons {
  border: 1px transparent solid;
  margin-left: auto;
  .connexion {
    color: $primary-color;
  }
}
::ng-deep .mat-menu-content{
  height: 100%;
  overflow: hidden;
}
.burger-btn ::ng-deep .mat-button-focus-overlay {
  display: none;
}

.btn span {
  margin-left: .3rem;
  font-size: .8rem;
}
