@import "../../mixins";

.form {
  @include simple-grid(2, $row-gap: 0);
  .form-title, .email, .btn-submit {grid-column: span 2;}

}

.form.xs {
  grid-template-columns: 1fr;
  .form-title, .email, .btn-submit { grid-column: 1;}
}
