@import "../../variables";
.container.xs {
  padding: 0;
  .form {
    margin-top: 0;
  }
  .form-title {
    background-color: $primary-color;
    color: #FAFAFA;
  }
}
.form {
  .question {
    margin-top: 1.3rem;
    color: gray;
    font-style: italic;
    font-size: 15px;
  }

  .register {
    font-style: normal;
    display: block;
    color: crimson;
    cursor: pointer;
    text-decoration: none;
  }
}
