@import "src/mixins";
.menu {
  padding: 0;
  margin: 0;
  .menu-item {
    @include flexbox(row, flex-start, center, nowrap);
    cursor: pointer;
    border-bottom: 1px #EEEEEE solid;
    padding: 1.5rem;
    color: #EEEEEE;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
    @include icon();
    .menu-item-title {
      margin-left: 5px;
      font-weight: 500;
    }
    .arrow {
      margin-left: auto;
    }
  }
}
.vertical-menu {
  display: flex;
  justify-content: center;
  .menu-item {
    justify-content: center;
    border: none;
  }

}



