.menu {
  padding: 0;
  margin: 0;
  background-color: #2C8A92;
  .menu-item:focus {
    outline: none;
  }
  .menu-item {
    cursor: pointer;
    border-bottom: 1px #EEEEEE solid;
    padding: 20px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #EEEEEE;
    margin: 0 10px;

    h3 {
      margin: 0 0 0 5px;
      font-weight: 500;
      font-size: 13px;
    }
    .arrow {

      text-align: right;
      margin-left: auto;
    }
  }
}
.vertical-menu {
  display: flex;
  justify-content: center;
  .menu-item {
    justify-content: center;
    border: none;
  }

}



