
.equipment-field {
  display: grid;
  grid-template-columns: 1fr 5rem auto;
  grid-gap: 1rem;
  align-items: center;
  &.xs {
    border: 1px lightgrey solid;
    border-radius: 3px;
    padding: 1rem;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    .equipment {
      grid-column: span 2;
    }
  }
}
.btn-container {
  display: flex;
  color: lightgrey;
  .btn-delete, .btn-add {
    margin-left: auto;
  }
}
.btn-delete {
  margin-right: -.7rem;
}
.btn-add {
  margin-right: -1rem;
}
