<div class="title">Ajouter des équipements</div>
<div class="dialog-container">
  <div class="equipment-field" *ngFor="let c of formArray.controls; index as i" ngClass.xs="xs">
    <mat-form-field class="equipment" *ngIf="!this.data.custom; else customField">
      <mat-label>Equipement</mat-label>
      <mat-select [formControl]="c.controls.id" [compareWith]="compareFn">
        <mat-option *ngFor="let equipment of equipments$ | async" [value]="equipment.id">
          {{equipment.id}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="c.controls.id && c.controls.id.errors && c.controls.id.errors.isSelected">
        Déjà sélectionné
      </mat-error>
    </mat-form-field>
    <ng-template #customField>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input type="text" matInput [formControl]="c.controls.id">
        <mat-error *ngIf="c.controls.id && c.controls.id.errors && c.controls.id.errors.isSelected">
          Déjà sélectionné
        </mat-error>
      </mat-form-field>
    </ng-template>
    <mat-form-field class="quantity">
      <mat-label>Quantité</mat-label>
      <input type="number" matInput [formControl]="c.controls.quantity">
    </mat-form-field>
    <div class="add-delete">
      <button mat-icon-button (click)="addEquipment()" class="btn-add">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button (click)="removeEquipment(i)" class="btn-delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <mat-error *ngIf="formArray.errors && formArray.errors.selected">Erreur</mat-error>
  <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="formArray.invalid">Valider</button>
</div>
