<form [formGroup]="form" fxLayout="row wrap">
  <mat-form-field appearance="outline" fxFlex="0 2 680px">
    <mat-label>Adresse</mat-label>
    <input type="text" matInput formControlName="label">
  </mat-form-field>
  <mat-form-field appearance="outline" fxFlex="1 0 300px">
    <mat-label>Ville</mat-label>
    <input type="text" matInput [matAutocomplete]="autoGroup" formControlName="city">
    <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayCity">
      <mat-option *ngFor="let city of cities$ | async" [value]="city.nom" >
        {{city.nom +' (' + city.codeDepartement +')'}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline" fxFlex="2 0 150px">
    <mat-label>Code postal</mat-label>
    <input type="text" matInput [value]="zipCode" formControlName="zipCode">
  </mat-form-field>
  <button mat-flat-button matStepperNext color="primary" [disabled]="form.invalid" fxFlex="2 0 150px">Suivant</button>
</form>
