@import "../variables";

mat-sidenav {
  padding-top: $navbar-height;
  width: 50%;
  background-color: $primary-color;
}
mat-sidenav-container {
  flex: 1 0 auto;
}
mat-sidenav-content {
  min-height: 100vh;
  background-color: $background-primary;
}
