@import "../../mixins";
@import "../../variables";

.carousel {
  background-color: #333;
  padding: 1rem 0;
  height: 16rem;
  &.sm {
    height: 21rem;
  }
  &.md {
    height: 25rem;
  }
  &.lg {
    height: 30rem;
  }
  ::ng-deep .mat-icon {
    font-size: 2rem;
    color: rgba(150,150,150,.9);
  }
}
.page {
  background-color: rgba(0,0,0,.05);
}
.container.xs {
  padding: 0;
}
.card-container {
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: minmax(20rem, 40rem);
  justify-items: center;
  justify-content: center;
  &.xs {
    .card-wrapper {
      background-color: #FAFAFA;
    }
  }
  &.sm {
    margin-top: -10rem;
  }
  &.md {
    margin-top: -14rem;
    grid-template-columns: 40rem 22rem;


  }
  &.lg {
    margin-top: -19rem;
    grid-template-columns: 40rem 22rem;
  }
}
.card-wrapper {
  padding: .3rem;
  border-radius: 3px;
  background-color: $primary-color;
  width: 100%;
}
.card {
  width: 100%;
  background-color: #FAFAFA;
  border-radius: 3px;
  padding: 1rem 2rem;
  font-weight: 300;
}
.card-title {
  font-weight: 400;
  color: #2C8A92;
  margin-bottom: .5rem;
  text-align: center;
  font-family: 'Domine', serif;
}
.address {
  margin: 0 0 .3rem 0;
  text-align: center;
  font-style: italic;
  color: grey;
}

.category-title {
  font-weight: 300;
  color: grey;
  margin: 2.1rem 0 .3rem 0;
}
.rating-infos {
  @include flexbox(column, center, center, nowrap);
  font-size: .8rem;
  .stars {
    @include icon(.9em, 1.3em, $secondary-color);
    background-color: $primary-color;
    margin-top: .5rem;
    padding: .7rem 1rem .5rem 1rem;
    border-radius: 3px;
    width: 80%;
    text-align: center;
  }
  .comments-number {
    margin-top: .5em;
    font-size: 1.2em;
    font-style: italic;
    color: darkred;
  }
}
.properties {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.5rem;
}
.property {
  font-size: .9rem;
  @include icon(1em, 2.1em, $primary-color);
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-column-gap: .4rem;
  align-items: center;
  padding: .3rem;
  .label {
    color: $primary-color;
    font-weight: 400;
  }
  .value {
    color: grey;
    font-weight: 300;
    font-size: .9em;
  }
}
.volumes {
  color: grey;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  @include icon(1em, 2.1em, $primary-color);
  .icon {
    margin-right: .4rem
  }
  .volume {
    padding: .5rem;
    @include flexbox(row, flex-start, center, wrap);
  }
}
.events, .equipments {
  font-size: .8rem;
  margin-bottom: 1.5rem;
}
.badge {
  display: inline-block;
  padding: .5em;
  margin: .5rem;
  border-radius: 6px;
  background-color: $primary-color;
  color: $secondary-color;
}
