<div class="container" ngClass.xs="xs">
  <mat-vertical-stepper  *ngIf="mobile" class="mat-elevation-z8">
    <mat-step [stepControl]="photoForm">
      <ng-template matStepLabel>Photos</ng-template>
      <app-photo-form></app-photo-form>
    </mat-step>
    <mat-step [stepControl]="roomInfosForm">
      <ng-template matStepLabel>Informations</ng-template>
      <app-room-infos-form></app-room-infos-form>
    </mat-step>
    <mat-step [stepControl]="addressForm">
      <ng-template matStepLabel>Adresse</ng-template>
      <app-address-form></app-address-form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fin</ng-template>
      <div class="step">
        <button matStepperPrevious mat-raised-button class="back-button">Revenir</button>
        <button mat-raised-button (click)="submit()" class="next-button" color="primary">Valider</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <mat-horizontal-stepper *ngIf="!mobile" class="mat-elevation-z8">
    <mat-step [stepControl]="photoForm">
      <ng-template matStepLabel>Photos</ng-template>
      <app-photo-form></app-photo-form>
    </mat-step>
    <mat-step [stepControl]="roomInfosForm">
      <ng-template matStepLabel>Informations</ng-template>
      <app-room-infos-form></app-room-infos-form>
    </mat-step>
    <mat-step [stepControl]="addressForm">
      <ng-template matStepLabel>Adresse</ng-template>
      <app-address-form></app-address-form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fin</ng-template>
      <div class="step">
        <button matStepperPrevious mat-raised-button class="back-button">Revenir</button>
        <button mat-raised-button (click)="submit()" class="next-button" color="primary">Valider</button>
      </div>

    </mat-step>
  </mat-horizontal-stepper>
</div>

