form {
  max-width: 680px;
  margin: 0 auto;
  button.previous {
    margin: 30px auto 0 0px;
  }
  button.next {
    margin: 30px 20px 0 auto;
  }
  .equipement-container {
    color: gray;
    text-align: center;
  }
  .equipement {
    cursor: pointer;
    display: inline-block;
    background-color: lightgrey;

    color: rgba(0,0,0,.7);
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 10px;
  }
  .equipement:hover {
    background-color: red;
    color: white;
    transition: background-color, color 700ms;
  }
  .days-container {
    border: 1px rgba(0,0,0,.1) solid;
    padding: 10px 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: grey;
    .days-title {
      text-align: center;
      font-weight: 400;
      margin: 0;
    }
    .days {
      padding: 0 20px;
    }
  }

}

/*form  {
    padding: 20px;
    max-width: 600px;
    mat-form-field {
      width: 100%;
    }
button {
      margin-top: 10px;
      display: block;
      margin-left: auto;
    }

}
.large-form {
  border-radius: 10px;
  margin: 20px auto;
  mat-form-field {
    max-width: 250px;
  }
  .days-container {
    margin: 0 15px;
  }
  button {
    margin: 10px auto;
  }
}*/
