@import "src/variables";

mat-sidenav {
  padding-top: $navbar-height;
  background-color: $primary-color;
  width: 40%;
  &.xs {
    width: 60%;
  }
}
mat-sidenav-container {
  flex: 1 0 auto;
}
mat-sidenav-content {
  min-height: 100vh;
  background-color: $background-primary;
}
.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(74,74,74,.8);
  z-index: 999;
}
.loader {
  height: calc(100vh - #{$navbar-height});
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
