@import "../../mixins";
@import "../../variables";
@import "../../layout";
.container.xs {
  padding: 0;
}
.filters {
  background-color: $background-secondary;
  max-width: 40rem;
  margin: 1rem auto 2rem auto;
  padding:  1rem 2rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: minmax(10rem, 30rem) minmax(5rem, 10rem);
  &.xs {
    margin: 0 0 .5rem 0;
    grid-template-columns: 1fr;
    border-bottom: 1px lightgrey solid;
    .filter-btn {
      margin-left: 0;
    }
  }
}
.search-form {
  //background-color: $background-secondary;
  border-right: 1px lightgrey solid;
  padding-right: 3rem;
  &.xs {
    padding-right: 0;
    border-right: none;
  }
  .mat-form-field {
    width: 100%;
  }
  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}
.filter-menu {
  display: flex;
  align-items: center;
}
.filter-btn {
  margin-left: 3rem;
  width: 100%;
}
.container {
  padding: 1rem 3rem;
}


