<div class="container">
  <div class="filters mat-elevation-z1" fxLayout fxLayoutAlign="space-evenly">
    <button mat-stroked-button (click)="sortRooms('rating')">Note
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-stroked-button (click)="sortRooms('maxCapacity')">Capacité
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-stroked-button (click)="sortRooms('price')">Prix
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <div class="card-container" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="card mat-elevation-z4" *ngFor="let room of rooms" fxLayout="row wrap" fxFlex="0 1 720px"
         title="En détail" [routerLink]="['/salles', room.id]" >
      <div class="card-img" fxFlex="1 0 280px" *ngIf="room.photos.length" >
        <img [src]="room.photos[0].url" alt="">
        <div class="note">
          <mat-icon *ngFor="let star of Arr(room.rating).fill('grade')">{{star}}</mat-icon>
        </div>
      </div>
      <div class="card-content" fxFlex="2 0 280px">
        <h2 class="card-title">{{room.name}}</h2>
        <div class="card-content-items" fxLayout="row wrap" fxLayoutAlign="start center">
          <div class="line">
            <mat-icon>category</mat-icon>
            <span>{{room.type.name}}</span>
          </div>
          <div class="line">
            <mat-icon>people</mat-icon>
            <span>{{room.maxCapacity}} personnes</span>
          </div>
          <div class="line">
            <mat-icon>euro_symbol</mat-icon>
            <span>{{room.price}} euros</span>
          </div>
          <div class="line">
            <mat-icon>crop_free</mat-icon>
            <span>{{room.size}} m2</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

