
.filters {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px 10px;
  border-radius: 20px;
  border: 1px lightgray solid;
  button {
    font-weight: lighter;
  }
}
.card-container {
  max-width: 1500px;
  margin: 20px auto;
  .card {
    cursor: pointer;
    margin: 10px;
    .card-img {
      position: relative;
      background: linear-gradient(to top, #2C8A92 10px, transparent 10px);
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        background-color: rgba(0,0,0,.1);
      }
      .note {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #FFD95A;
        background-color: #2C8A92;
        border-top-left-radius: 25px;
        padding: 5px 0 0 15px;
        mat-icon {
          font-size: 16px;
        }
      }
    }
    .card-content {
      background-color: rgba(0,0,0,.03);
      padding: 0 20px 20px 20px;
      color: rgba(0,0,0,.8);
      .card-title {
        padding-top: 10px;
        margin: 0 0 10px 0;
        text-align: center;
        font-weight: 400;
        font-style: italic;
      }
      .line {
        flex: 0 0 180px;
        margin-top: 5px;
        width: 100%;
        mat-icon {
          font-size: 20px;
          vertical-align: middle;
        }
      }
    }
  }
}


