<div class="container" >
  <div class="filters mat-elevation-z1" fxLayout fxLayoutAlign="space-evenly">
    <button mat-stroked-button>Note <mat-icon>keyboard_arrow_down</mat-icon></button>
    <button mat-stroked-button>Capacité  <mat-icon>keyboard_arrow_down</mat-icon></button>
    <button mat-stroked-button>Prix <mat-icon>keyboard_arrow_down</mat-icon></button>
  </div>
  <div class="card mat-elevation-z4" ngClass.xs="card-small" *ngFor="let room of rooms" fxLayout fxLayout.lt-sm="column" >
    <div class="card-img" fxFlex="0 0 auto">
      <img [src]="room.photos[0].url" alt="">
      <div class="note">
        <mat-icon *ngFor="let star of Arr(room.rating).fill('grade')">{{star}}</mat-icon>
      </div>
    </div>
    <div class="card-content" fxFlex="1 1 100%">
      <h3 class="card-title">{{room.name}}</h3>
      <div class="line">
        <mat-icon>persons</mat-icon><span>{{room.maxCapacity}} personnes max</span>
      </div>
      <div class="line">
        <mat-icon>euro_symbol</mat-icon><span>A partir de {{room.price}} euros</span>
      </div>
      <div class="line">
        <button mat-raised-button>Voir détails</button>
      </div>
    </div>
  </div>
</div>

