@import "../../variables";
.container {
  margin-top: 6rem;
  padding: .3rem;
  background-color: $primary-color;
  border-radius: 3px;
  z-index: 5;
  position: relative;

}
.booking-form {
  border-radius: 3px;
  padding: 1rem 2rem;
  //width: 100%;
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-column-gap: .5rem;
  //grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas:
    "title title"
    "startDate startDate"
    "startTime endTime"
    "weekly error"
    "weekRepetition weekRepetition"
    "endDate endDate"
    "submit submit";
  .startDate {
    grid-area: startDate;
  }
  .startTime {
    grid-area: startTime;
  }
  .endTime {
    grid-area: endTime;
  }
  .weekly {
    grid-area: weekly;
  }
  .errors {
    grid-area: error;
    text-align: center;
  }
  .weekRepetition {
    grid-area: weekRepetition;
  }
  .endDate {
    grid-area: endDate;
  }
  input {
    color: black;
  }

  mat-form-field, button {
    margin: 4px 10px;
  }
  mat-checkbox {
    margin: 0 15px 5px 15px;
  }
  button {
    grid-area: submit;
    font-size: 17px;
    font-weight: 600;
    .price {
      margin: 0 2px 0 10px;
      font-size: 16px;
    }
    mat-icon {
      margin-top: 6px;
      font-size: 17px;
    }
  }
}
.form-title {
  font-weight: 400;
  color: $primary-color;
  text-align: center;
  grid-area: title;
}

