form {
  mat-form-field, button {
    margin: 4px 10px;
  }
  mat-checkbox {
    margin: 0 15px 5px 15px;
  }

  mat-error.error {
    text-align: right;
    max-height: 50px;
  }

  button {
    max-width: 300px;
    margin: 70px auto 10px auto;

  }

}
