<div class="container">
  <h1 align="center">Les salles à {{city}}</h1>
    <div class="card mat-elevation-z2" *ngFor="let room of rooms$ | async" fxLayout>
      <div class="card-img" fxFlex="0 0 240px">
        <mat-carousel proportion="75" [slides]="room.photos.length" interval="8000">
          <mat-carousel-slide *ngFor="let photo of room.photos" [image]="photo.url"></mat-carousel-slide>
        </mat-carousel>
      </div>
      <div class="card-content" fxFlex="1 1 auto">
        <h3 class="card-title">{{room.name}}</h3>
        <div class="line">
          <mat-icon>category</mat-icon><span>{{room.type.name}}</span>
        </div>
        <div class="line">
          <mat-icon>persons</mat-icon><span>{{room.maxCapacity}} personnes max</span>
        </div>
        <div class="line">
          <mat-icon>euro_symbol</mat-icon><span>A partir de {{room.price}} euros</span>
        </div>
      </div>
    </div>
</div>

