.container {
  border: 1rem lightgrey solid;
  padding: 0;
  border-radius: 3px;
}
.mat-table.cdk-table {
  border-radius: 3px;
}

.no-bookings {
  margin-top: 10rem;
  font-size: 1.2rem;
  text-align: center;
}
