<div class="container mat-elevation-z2" *ngIf="room$ | async as room" fxLayout="row wrap" ngClass.gt-md="large-container" fxLayoutAlign.gt-md="start center">
  <h1 class="mat-display-1 title" fxFlex="1 0 100%">{{room.name}}</h1>
  <div class="carousel" fxFlex="1 0 500px">
    <mat-carousel [hideIndicators]="false" [loop]="true" color="accent" proportion="70"
                  [slides]="room.photos.length" maxWidth="700px">
      <mat-carousel-slide *ngFor="let photo of room.photos" [image]="photo.url">
      </mat-carousel-slide>
    </mat-carousel>
  </div>

  <div class="content" fxLayout="row wrap" fxLayoutAlign="space-around" fxFlex="2 0 500px">
    <mat-accordion fxFlex="1 0 300px">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>info</mat-icon>
            <span>Informations</span></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="infos" fxLayout="row wrap" fxLayoutAlign="space-around">
          <div class="info">
            <mat-icon>place</mat-icon>
            <span>{{room.address.city}}</span>
          </div>
          <div class="info">
            <mat-icon>category</mat-icon>
            <span>{{room.type.name}}</span>
          </div>
          <div class="info">
            <mat-icon>people</mat-icon>
            <span>{{room.maxCapacity}} personnes</span>
          </div>
          <div class="info">
            <mat-icon>euro_symbol</mat-icon>
            <span>{{room.price}} euros</span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion fxFlex="1 0 300px">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>speaker</mat-icon>
            Equipements
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="equipments" fxLayout="row wrap" fxLayoutGap="10px" *ngIf="room.equipments.length else noEquipment">
          <div class="equipment" *ngFor="let equipment of room.equipments">{{equipment.name}}</div>
        </div>
        <ng-template #noEquipment>Aucun équipement</ng-template>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion fxFlex="1 0 300px">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>event</mat-icon>
            Jours disponibles
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="equipments" fxLayout="row wrap" fxLayoutGap="10px">
          <div class="equipment" *ngFor="let day of availableDays">{{day}}</div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion fxFlex="1 0 300px">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>comment</mat-icon>
            Commentaires
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="comments" *ngIf="room.comments.length else noComments">
          <p *ngFor="let comment of room.comments" class="comment">
            <span class="comment-content">{{comment.content}}</span>
            <span class="signature">{{comment.author.firstname}}
              le {{dates.formatDate(comment.publishedOn)}}</span>
          </p>
        </div>
        <ng-template #noComments>Aucun commentaires</ng-template>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion fxFlex="1 0 300px">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>booking</mat-icon>
            Reserver
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-booking-form [room]="room" *ngIf="room && auth.isAuthenticated() else unauthenticated"></app-booking-form>
        <ng-template #unauthenticated>
          <a routerLink="/profil">Connectez</a> vous pour pouvoir réserver
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


</div>
