.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1280px;
  .title {
    margin: 0;
    padding: 25px;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    color: #FAFAFA;
    font-family: 'Domine', serif;
    font-weight: 400;
    font-size: 30px;
    font-style: italic;
  }
  .content {
    margin: 0 auto;
    padding: 0;
    min-height: 50vh;
  }

}
.large-container {
  mat-expansion-panel {
    border-radius: 0;
  }
  .grid {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px auto;
    grid-template-areas:
      "title title"
      "carousel booking";
    margin: 20px auto 0 auto;
    .title {
      grid-area: title;
    }
    .carousel {
      width: 100%;
      grid-area: carousel;
    }
    .book {
      h1 {
        margin: 15px;
        text-align: center;
      }
    }
  }
  .content{
    display: grid;

    grid-template-columns: 1fr 1fr;
    align-content: start;
  }
}
