
// COLORS
$primary-color: #2C8A92;
$secondary-color: #FFD95A;
$error-color: #721C24;
$success-color: #175826;
$background-primary: #F4F4F4;
$background-secondary: #FAFAFA;

// SIZES
$navbar-height: 4.5rem;
