/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background-color: rgba(0,0,0,.025);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
}
.content {
  padding-top: $navbar-height;
  min-height: 100%;
}
.container {
  padding: 20px 10px;
}
.error-dialog {
  background-color: #F8D7DA;
  color: #721C24;
}
.success-dialog {
  background-color: #D4EDDA;
  color: #175826;
}
.mat-snack-bar-container .mat-simple-snackbar {
  display: flex;
  justify-content: center;
}
.mat-simple-snackbar-action {
  color: grey;
}

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Open Sans", sans-serif;');
@include mat-core($custom-typography);

.mat-form-field {
  font-family: 'Roboto', sans-serif;
}

.paypal-dialog {
  mat-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
