@import "variables";
@import "mixins";
@import "layout";
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background-color: $background-secondary;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

.mat-sidenav-content.content {
  padding-top: $navbar-height;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.mat-sidenav-content.content::before {
  content: "";
  height: 30rem;
  //border-bottom-left-radius: 15rem;
  //border-bottom-right-radius: 15rem;
  border-radius: 50%;
  background-color: $primary-color;
  position: absolute;
  top: -12rem; left: -5rem; right: -5rem;
  z-index: -10;
}

.container {
  padding: 1.5rem 1rem;
  margin: 0 auto;
  max-width: 100rem;

}
.form {
  @extend %form;
}
.error-dialog {
  background-color: #F8D7DA;
  color: $error-color;
}
.success-dialog {
  background-color: #D4EDDA;
  color: $success-color;
}

.mat-snack-bar-container .mat-simple-snackbar {
  @include flexbox();
}
 .mat-simple-snackbar-action {
  color: grey;
}

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Open Sans", sans-serif;');
@include mat-core($custom-typography);

.mat-form-field {
  font-family: 'Roboto', sans-serif;
}

.paypal-dialog {
  mat-dialog-container {
    @include flexbox($direction: column, $justify: center, $align: none);
  }
}

mat-error span {
 display: none;
}
mat-error span:first-child {
  display: block;
}

.step {
  display: flex;
  width: 100%;
  .back-button {
    margin-right: auto;
  }
  .next-button {
    margin-left: auto;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.booking-dialog .mat-dialog-container {
  display: flex;
  padding: 0;
  overflow-x: hidden;
}
.mat-primary-color {
  background-color: $primary-color;
  color: white;
}
.mat-primary-outline {
  border: 1px $primary-color solid;
  color: $primary-color;
}
