@import "src/mixins";
@import "../../variables";

.banner {
  @include flexbox();
  @include bg-cover("../../assets/salle2.jpg");
  height: 30rem;
  .search-form {
    @include simple-grid(2, $row-gap: 0);
    padding: 4rem;
    max-width: 40rem;
    z-index: 5;
    background-color: rgba(0,0,0,.3);
    border-radius: 4px;
    font-size: .9rem;
    ::ng-deep .mat-form-field-flex{
      background-color: $background-secondary;
      border-radius: 4px;
    }
  }
}
.around-me {
  color: grey;
  @include icon($color: grey);
}
.btn-submit {
  grid-column: span 2;
  background-color: #2C8A92;
  color: #FAFAFA;
}
.container {
  @include flexbox(row, space-around, center);
  padding: 0;
  min-height: 100%;
  width: 100%;
  .presentation-item {
    @include flexbox(column, center, center);
    flex: 0 1 30rem;
    padding: 2.5rem;
    border: 1px rgba(150, 150, 150, .2) solid;
    border-radius: 3px;
    background-color: white;
    @include icon(1em, 2em);
    .mat-icon {
      color: #FFD95A;
      text-shadow: 2px 0 4px #2C8A92;
    }
    .presentation-title {
      margin: 0;
      color: #2C8A92;
      font-weight: 300;
    }
    .presentation-subtitle {
      color: gray;
      font-style: italic;
      margin: 0;
    }
  }
}
.container.sm {
  min-height: calc(100vh - (30rem + #{$navbar-height}));
  .presentation-item {
    margin: 0 1.5rem;
  }
}

.banner.xs {
  .search-form {
    padding: 2.5rem 6rem;
    grid-template-columns: 1fr;
    .btn-submit{
      grid-column: 1;
    }
  }
}
