.banner.large-banner::before {
  content: "";
  flex: 1 0 10px;
  background: linear-gradient(to right, rgba(50,50,50,.8) , transparent);
  height: 100%;
}
.banner.large-banner::after {
  content: "";
  background: linear-gradient(to left, rgba(50,50,50,.8) , transparent);
  flex: 1 0 10px;
  height: 100%;
}
.banner {
  background-image: url("../../assets/salle2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px rgba(150,150,150,.5) solid;
  height: 350px;
  .form {
    width: 360px;
    z-index: 5;
    padding: 48px 60px 30px 60px;
    background-color: rgba(50,50,50,.5);
    mat-form-field, button {
      margin: 0 auto;
      width: 240px;
      display: block;
    }
    mat-icon {
      color: #7A7770;
      margin-right: 5px;
    }
    ::ng-deep .mat-form-field-flex{
      background-color: rgba(255,255,255,.95);
      border-radius: 0;
      height: 55px;
      border: none;
    }

  }
}

.presentation {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  .presentation-item {
    flex: 0 1 500px;
    padding: 30px 10px;
    border: 1px rgba(150, 150, 150, .2) solid;
    background-color: white;
    mat-icon {
      color: #FFD95A;
      font-size: 40px;
      margin-right: 20px;
      text-shadow: 3px 3px 4px #2C8A92;
    }
    .comment {
      font-size: 35px;
      margin-right: 10px;
    }
    .item-title {
      color: #2C8A92;
      margin: -10px 0 0 0;
    }
    p {
      color: gray;
      font-style: italic;
      font-size: 18px;
    }

  }
}
.large-presentation {
  .presentation-item {
    margin: 30px 20px 0 20px;
  }
}
