@import "../../variables";
@import "../../mixins";
.bar {
  position: sticky;
  bottom: 0; left: 10%; right: 10%;
  background-color: #555;
  padding: 1rem;
  z-index: 5;
  color: #FAFAFA;
  font-size: .9rem;
  @include icon(1em, 1.5em);
  @include flexbox(row, space-evenly, center, nowrap);
  .label {
    margin-left: -1.8em;
    font-weight: 100;
  }
}

