@import "../../variables";
@import "../../mixins";
.bar {
  position: fixed;
  bottom: 1rem; left: 10%; right: 10%;
  background-color: #555;
  padding: 1rem;
  z-index: 5;
  color: #FAFAFA;
  border-radius: 3px;
  font-size: .9rem;
  @include icon(1em, 1.5em);
  @include flexbox(row, space-evenly, center, nowrap);
  .label {
    margin-left: -1.8em;
    font-weight: 100;
  }
}

