<div class="container" ngClass.xs="xs">
  <form [formGroup]="form" ngClass.gt-xs="sm" class="update-form mat-elevation-z8">
    <mat-form-field appearance="outline">
      <mat-label>Prénom</mat-label>
      <input type="text" matInput formControlName="firstname">
      <mat-icon matSuffix>face</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input type="text" matInput formControlName="lastname">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="large-input">
      <mat-label>Adresse email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nouveau mot de passe</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Vérifier le mot de passe</mat-label>
      <input type="password" matInput formControlName="passwordCheck">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="updateClick()" #dialogButtons>
      Modifier mes infos
    </button>
    <button mat-stroked-button color="warn" (click)="deleteClick()" #dialogButtons>Supprimer mon compte</button>
    <ng-template #confirmDialog let-data>
      <div class="confirm-dialog">
        <p>Etes vous sur de vouloir
          <span *ngIf="data.update">modifier</span>
          <span *ngIf="!data.update">supprimer</span> votre profil ?
        </p>
        <button mat-stroked-button (click)="data.update ? updateUser() : deleteUser()">Oui</button>
        <button mat-stroked-button (click)="closeDialog()">Non</button>
      </div>
    </ng-template>
  </form>
</div>
