@import "../../variables";
@import "../../mixins";

.container {
  margin-top: 6rem;
  padding: .3rem;
  background-color: $primary-color;
  border-radius: 3px;
  z-index: 5;
  position: relative;
}
.booking-form {
  border-radius: 3px;
  padding: 1rem 2rem;
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: minmax(7rem, 10rem) minmax(7rem, 10rem);
  grid-gap: .5rem;
}
input {
  color: black;
}
.form-title {
  font-weight: 400;
  color: $primary-color;
  text-align: center;
  margin: 0;
}
.startDate, .endDate, .weekly, .btn-pay, .weekRepetition, .price, .form-title, .errors {
  grid-column: span 2;
}
.errors {
  text-align: center;
}
.unauthenticated {
  grid-area: title;
  text-align: center;
  padding: 1rem;
  a {
    color: $primary-color;
    text-decoration: none;
  }
}
.price {
  font-weight: 200;
  color: #666;
  margin: 1rem 0;
}
.price-row {
  display: grid;
  grid-template-columns: 1fr auto 1rem;
  margin: .5rem 0;
  grid-column-gap: .3rem;
  @include icon(1em, 1em, #666);
}
.price-value {
  text-align: left;
  font-weight: 400;
}
