<div class="container">
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="photoForm" completed>

    </mat-step>
    <mat-step [stepControl]="roomForm" completed>
      <form [formGroup]="roomForm" (ngSubmit)="onSubmit(roomForm.value)">
        <ng-template matStepLabel>Caractéristiques de la salle</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Nom de la salle</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="type.name" *ngFor="let type of roomTypes$ | async">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-checkbox (change)="onCheckBoxChange($event)" *ngFor=""></mat-checkbox>
        </mat-form-field>
        <button>Valider</button>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
