<div class="container" ngClass.xs="xs">
  <div class="filters mat-elevation-z1" ngClass.xs="xs">
    <form [formGroup]="form" class="search-form" ngClass.xs="xs">
      <mat-form-field appearance="legacy">
        <input type="text" matInput formControlName="search" placeholder="Rechercher">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <div class="filter-menu">
      <button [matMenuTriggerFor]="menu" class="filter-btn" mat-stroked-button>
        <span>Filtrer</span>
      </button>
      <mat-menu #menu></mat-menu>
    </div>
  </div>
  <app-room-list [rooms]="rooms$ | async"></app-room-list>
</div>
